@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
/* reset css */
html{
font-size: 62.5%;
scroll-behavior: smooth;
/*background: #fff url(https://img.freepik.com/vecteurs-libre/fond-abstrait-blanc_23-2148806276.jpg?size=626&ext=jpg)no-repeat fixed center center / cover;*/
background-color: #e9e9e9;
}
body{
    font: 1.6rem 'Encode Sans Expanded', sans-serif;
    margin: 0;
    
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
:root{
    --color-default: #2f312ee3;
    --color-primary: #2b7dc0;
    --color-warning: #e23131;
    --color-success: #4db32e;
    --color-border: #b3b5b6;
}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
/* thème */
header{
    line-height: 5.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background: url("../asset/header.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    padding: 32rem;
    /*position: fixed;*/
    width: 100%;
    height: 100vh;
    top: 0;

}
header h1{
    font: 5rem'Russo One', sans-serif;
    font-size: 6rem;
    text-shadow: 0.2rem 0.3rem 0 #89898a;
    transition: all 1.5s ease-in-out;
}
header h1:hover{
    letter-spacing: 0.4rem;
    text-shadow: 0.3rem 0.3rem 0 #272525, 0.5rem 0.5rem 0 #18212b;   
}
h2, h3, ul{
    text-align: center;
    padding: 1rem;
}
h3{
    background-color: #2f312ee3;
    color: #fff;
    border-radius: 1rem;
    text-shadow: 0.3rem 0.4rem 0 #181a1d;
    transition: all 1.5s ease-in-out;
    letter-spacing: 0.2rem;
    max-width: 90rem;
    padding: 1rem;
    margin: 0 auto 2rem;
    box-shadow: var(--color-default);
    margin-top: 3rem;
    border-radius: 1rem;
}

h3:hover{
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0 #272525, 0.5rem 0.5rem 0 #18212b;
    transition: all 1.5s ease-in-out;   
}
p{
    padding: 2rem;
    padding-left: 2rem;
}
/* fleche retour */
main a img{
    max-width: 4.5%;
    display: block;
    margin: 0 auto;
    margin-top: -9rem;
    position: static;
    cursor: pointer;
    border-radius: 9rem;
    background-color: #fff;
    border: solid 0rem #fff;
    transition: 1s ease-in-out;
}
main a img:hover{
    transform: translateY(-2rem) scale(1.1);
}
main a{
    color: #000;
    font-weight: 700;
    padding-bottom: 2rem;
    font-size: 2rem;
    margin-left: 7rem;
    top: 5rem;
}
article{
    max-width: 90rem;
    min-height: 5rem;
    padding: 0;
    border: solid 0.1rem transparent;
    background-color: #e0e2e182;
    margin: 0 auto 2rem;
    box-shadow: 0 0 1.0rem var(--color-border);
    margin-top: 4rem;
    border-radius: 1rem;
}
article img{
    width: 100%;
}

article p a{
    background-color: #bdc3c7;
    padding: 0.5rem 3rem;
    color: #000;
    border-radius: 1rem;
    margin: 0 auto;
    display: block;
    width: 20rem;
    text-align: center;
    transition: all 500ms ease-in-out;  
}
article p a:hover{
    color: #fff;
    background-color: #2f312ee3;
    transition: all 500ms ease-in-out;
}
main article ul li{
    padding: 1rem;
}

/* pied de page */
main div a img{
    max-width: 4.5%;
    display: block;
    margin-right: 10rem;
    margin-top: -3rem;
    position: static;
    cursor: pointer;
    border-radius: 9rem;
    background-color: #fff;
    border: solid 0rem #fff;
    transition: 1s ease-in-out;
}
main div a img:hover{
    transform: translateY(-2rem) scale(1.1);
}
footer{
    background-color: #2f312e;
    padding: 1rem;
    margin-top: 4rem;
    
}
footer p{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}
#profil h3{
    font-size: 4rem;
    padding: 2rem;
}
footer h2, h4, a{
    color: #fff;
}
footer h4{
    text-align: center;
}
/* Responsive */
@media screen and (max-width: 80rem){
    header{
        padding: 7rem;
    }
    header h1{
        font-size: 3rem;
        margin-top: 3rem;
        text-shadow: 0.3rem 0.3rem 0 #89898a;
    }
    h2{
        font-size: 1.7rem;
    }
    #gallery{
        grid-template-columns: repeat(2, 2fr);
    }
    article:first-child{
        margin-top: 1rem;
    }
    /* flêche vers le bas */
    main a img{
        max-width: 6%;
        margin-top: -8rem;
    }
    /* fleche vers le haut */
    main div a img{
        max-width: 6%;
        margin-top: -2rem;
    }
    /* pied de page */
    footer{
        padding: 1rem;
        margin-top: 4rem; 
    }
    footer p{
        color: #fff;
        text-align: center;
        font-size: 1.3rem;
    }
    footer h2, h4{
        color: #fff;
    }
    footer h4{
        text-align: center;
        font-size: 1.5rem;
    }
}
