@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
/* reset css */
html{
font-size: 62.5%;
scroll-behavior: smooth;
/*background: #fff url(https://img.freepik.com/vecteurs-libre/fond-abstrait-blanc_23-2148806276.jpg?size=626&ext=jpg)no-repeat fixed center center / cover;*/
background-color: #e9e9e9;
}
body{
    font: 1.6rem 'Encode Sans Expanded', sans-serif;
    margin: 0;
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: rgb(242, 236, 236);
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
:root{
    --color-default: #1e201f;
    --color-primary: #2b7dc0;
    --color-warning: #e23131;
    --color-success: #4db32e;
    --color-border: #b3b5b6;
}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
/* thème */
header img{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    cursor: pointer;
    z-index: 5;
}
/* fermeture menu */
.menuhidden{
    transition: all ease-in-out .3s;
    height: 54rem;
    width: 40rem;
    background-color: #1e201f3a;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -200rem;
    z-index: 2;
    transition: all ease-in-out 500ms;
    
}
main div a img{
    max-width: 4.5%;
    display: block;
    margin: auto;
    margin-top: -9rem;
    position: static;
    cursor: pointer;
    border-radius: 9rem;
    background-color: #fff;
    border: solid 0rem #fff;
    transition: 1s ease-in-out;
}
main div a img:hover{
    transform: translateY(-2rem) scale(1.1);
}
main a{
    color: #000;
    font-weight: 700;
    padding-bottom: 2rem;
    font-size: 2rem;
    margin-left: 7rem;
    top: 5rem;
}
/* ouverture menu */
.menushown{
    height: 78.8rem;
    width: 25rem;
    background-color: #1e201fb9;
    position: absolute;
    top: 0;
    right: 0;
    transition: all ease-in-out 150ms;
    z-index: 2;
    visibility: visible;
}
header{
    line-height: 5.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background: url("../asset/header.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 32rem;
    /*position: fixed;*/
    width: 100%;
    top: 0;

}
header h1{
    font: 5rem'Russo One', sans-serif;
    font-size: 6rem;
    text-shadow: 0.5rem 0.5rem 0 #89898a;
    transition: all 1.5s ease-in-out;
    
}
header h1:hover{
    letter-spacing: 0.4rem;
    text-shadow: 0.3rem 0.3rem 0 #272525, 0.5rem 0.5rem 0 #18212b;   
}
h2, h3, ul{
    text-align: center;
    padding: 1rem;
}
main article ul li{
    padding: 1rem;
}
p{
    padding: 2rem;
    padding-left: 2rem;
}
/* menu */
nav ul{
    max-width: 80rem;
    margin: 0 auto 2rem;
}
nav ul li{
    display: block;
    line-height: 6rem;
    text-align: center;
    margin-top: 4rem;
    width: 100%;
}
nav ul li a{
    display: block;
    margin: 0 auto;
    transition: all 100ms ease-in-out;
    text-transform: uppercase;
}
nav ul li:hover a{
    margin: 0 auto;
    display: block;
    width: 13rem;
    border-bottom: solid;
}
article{
    max-width: 90rem;
    min-height: 5rem;
    padding: 0;
    border: solid 0.1rem transparent;
    background-color: #e0e2e182;
    margin: 0 auto 2rem;
    box-shadow: 0 0 1.0rem var(--color-border);
    margin-top: 5rem;
    border-radius: 1rem;
}
article:first-child{
    margin-top: 4rem;
}
h3{
    background-color: #2f312ee3;
    color: #fff;
    border-radius: 1rem;
    text-shadow: 0.3rem 0.4rem 0 #181a1d;
    transition: all 1.5s ease-in-out;
    letter-spacing: 0.2rem;
}
h3:hover{
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0 #272525, 0.5rem 0.5rem 0 #18212b;
    transition: all 1.5s ease-in-out;   
}

#gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    min-width: 30rem;
    
}
/* pied de page */
main a img{
    max-width: 4.5%;
    display: block;
    margin-left: 130rem;
    margin-top: -6rem;
    position: static;
    cursor: pointer;
    border-radius: 9rem;
    background-color: #fff;
    border: solid 0rem #fff;
    transition: 1s ease-in-out;
}
main a img:hover{
    transform: translateY(-2rem) scale(1.1);
}
footer{
    background-color: #2f312e;
    padding: 1rem;
    margin-top: 4rem; 
}
footer p{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}
footer h2, h4{
    color: #fff;
}
footer h4{
    text-align: center;
}

/* Responsive */
@media screen and (max-width: 70rem)and (min-width: 10rem){
    header{
        padding: 2rem;
    }
    header h1{
        font-size: 5rem;
        margin-top: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    #gallery{
        grid-template-columns: repeat(2, 2fr);
    }
    article:first-child{
        margin-top: 2rem;
    }
    article{
        max-width: 90rem;
        min-height: 5rem;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    h3{
        font-size: small;
    }
    h3:hover{
        letter-spacing: 0.5rem;  
    }
    p{
        padding: 1rem;
        padding-left: 2rem;
    }
    /* fleche haut */
    main a img{
        max-width: 8%;
        margin:auto;
        margin-top: 1rem; 
    }

    /* menu */
    nav ul{
        max-width: 80rem;
        margin: 0 auto 2rem;
    }
    nav ul li{
        display: block;
        line-height: 6rem;
        text-align: center;
        margin-top: 4rem;
        width: 100%;
    }
    nav ul li a{
        display: block;
        margin: 0 auto;
        transition: all 100ms ease-in-out;
        text-transform: uppercase;
    }
    nav ul li:hover a{
        margin: 0 auto;
        display: block;
        width: 13rem;
        border-bottom: solid;
    }
    /* fermeture menu */
    .menuhidden{
        transition: all ease-in-out .3s;
        height: 100%;
        width: 100%;
        background-color: #1e201f;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -200rem;
        z-index: 2;
        transition: all ease-in-out 500ms;
    }
    /* ouverture menu */
    .menushown{
        height: 100%;
        width: 100%;
        background-color: #1e201f;
        position: absolute;
        top: 0;
        right: 0;
        transition: all ease-in-out 150ms;
        z-index: 2;
        visibility: visible;
    }
    footer{
        padding: 1rem;
        margin-top: 4rem; 
    }
    footer p{
        color: #fff;
        text-align: center;
        font-size: 1.3rem;
    }
    footer h2, h4{
        color: #fff;
        
    }
    footer h4{
        text-align: center;
        font-size: 1.5rem;
    }
}